body {
	overflow-x:hidden;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fff;
}

.dn {
	display:none;
}

.mt80 {
    margin-top: 80px !important;
}

.p0 {
	padding:0 !important;
}

.spin {
  animation: spin 2s infinite linear;
  transition: 0.4s all;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: #212a377d !important;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
    color: #fff;
	position: fixed;
    z-index: 1;
    width: 100%;	
}

.header-standart {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: #fff !important;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);
    color: #fff;
	position: relative;	
}
.header-standart .header-brand {
	color: #666;
}
.header-standart .header-brand:hover,.header-standart .header-brand:focus {
	color: #333;
	text-decoration:none;
}




.form-horizontal .form-group {
    margin:0;
}




.stars-bg {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #384a5f 0%, #090a0f 100%);
  background-attachment:fixed;
  overflow: hidden;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

#stars{width:1px;height:1px;background:transparent;box-shadow:2000px 1299px #FFF ,1525px 1136px #FFF ,890px 236px #FFF ,951px 516px #FFF ,1189px 899px #FFF ,1294px 62px #FFF ,254px 853px #FFF ,250px 157px #FFF ,219px 852px #FFF ,1395px 1656px #FFF ,1576px 1447px #FFF ,1251px 1570px #FFF ,568px 1554px #FFF ,269px 768px #FFF ,73px 1298px #FFF ,1468px 1187px #FFF ,1305px 653px #FFF ,266px 1942px #FFF ,293px 1266px #FFF ,171px 1832px #FFF ,49px 971px #FFF ,193px 1550px #FFF ,942px 1322px #FFF ,330px 26px #FFF ,499px 1259px #FFF ,1103px 716px #FFF ,624px 842px #FFF ,606px 687px #FFF ,1369px 1039px #FFF ,196px 1684px #FFF ,608px 1591px #FFF ,628px 122px #FFF ,1108px 1381px #FFF ,1594px 1467px #FFF ,1346px 1684px #FFF ,1879px 18px #FFF ,533px 1353px #FFF ,327px 162px #FFF ,1374px 411px #FFF ,851px 1435px #FFF ,495px 577px #FFF ,980px 361px #FFF ,702px 826px #FFF ,108px 1278px #FFF ,29px 1072px #FFF ,1627px 1958px #FFF ,1235px 673px #FFF ,651px 1355px #FFF ,1578px 1783px #FFF ,574px 305px #FFF ,372px 1564px #FFF ,1787px 487px #FFF ,121px 1982px #FFF ,1840px 434px #FFF ,323px 1582px #FFF ,1669px 422px #FFF ,1970px 493px #FFF ,822px 1196px #FFF ,728px 1785px #FFF ,782px 1517px #FFF ,1473px 377px #FFF ,1125px 1592px #FFF ,767px 962px #FFF ,197px 538px #FFF ,236px 539px #FFF ,1547px 789px #FFF ,1777px 886px #FFF ,597px 1800px #FFF ,1511px 645px #FFF ,699px 528px #FFF ,1544px 576px #FFF ,1080px 812px #FFF ,1494px 1308px #FFF ,1367px 1269px #FFF ,1849px 311px #FFF ,1114px 275px #FFF ,1345px 1087px #FFF ,522px 322px #FFF ,253px 1079px #FFF ,1811px 1518px #FFF ,224px 1294px #FFF ,1062px 301px #FFF ,1114px 746px #FFF ,895px 279px #FFF ,79px 1601px #FFF ,982px 1292px #FFF ,1020px 375px #FFF ,1737px 1360px #FFF ,259px 661px #FFF ,619px 910px #FFF ,30px 1022px #FFF ,931px 395px #FFF ,303px 1008px #FFF ,1269px 380px #FFF ,473px 1261px #FFF ,576px 1496px #FFF ,181px 1844px #FFF ,978px 1883px #FFF ,540px 105px #FFF ,1787px 406px #FFF ,345px 691px #FFF ,438px 384px #FFF ,653px 62px #FFF ,1190px 219px #FFF ,1121px 453px #FFF ,299px 1872px #FFF ,367px 298px #FFF ,607px 1968px #FFF ,635px 399px #FFF ,1338px 1039px #FFF ,459px 70px #FFF ,993px 884px #FFF ,1978px 351px #FFF ,16px 1609px #FFF ,568px 803px #FFF ,1180px 122px #FFF ,1220px 13px #FFF ,182px 1190px #FFF ,1717px 1552px #FFF ,699px 1771px #FFF ,1334px 718px #FFF ,989px 248px #FFF ,1724px 1708px #FFF ,1031px 590px #FFF ,408px 396px #FFF ,536px 734px #FFF ,57px 1788px #FFF ,238px 1289px #FFF ,1647px 366px #FFF ,8px 1408px #FFF ,1905px 1964px #FFF ,92px 590px #FFF ,78px 1660px #FFF ,39px 468px #FFF ,261px 1295px #FFF ,1055px 623px #FFF ,1081px 82px #FFF ,702px 1011px #FFF ,519px 599px #FFF ,1917px 127px #FFF ,1251px 1396px #FFF ,527px 1714px #FFF ,1850px 1625px #FFF ,986px 1804px #FFF ,345px 515px #FFF ,910px 1289px #FFF ,893px 1876px #FFF ,478px 961px #FFF ,1150px 1343px #FFF ,1926px 660px #FFF ,1299px 472px #FFF ,1788px 1314px #FFF ,794px 462px #FFF ,1115px 413px #FFF ,777px 275px #FFF ,816px 1912px #FFF ,809px 759px #FFF ,70px 484px #FFF ,1209px 759px #FFF ,894px 974px #FFF ,39px 135px #FFF ,1339px 1793px #FFF ,225px 843px #FFF ,1071px 616px #FFF ,848px 152px #FFF ,772px 1027px #FFF ,142px 1853px #FFF ,535px 1975px #FFF ,1957px 1510px #FFF ,1784px 50px #FFF ,1631px 1891px #FFF ,421px 740px #FFF ,1528px 871px #FFF ,81px 1492px #FFF ,1001px 856px #FFF ,499px 1446px #FFF ,552px 852px #FFF ,690px 948px #FFF ,610px 1347px #FFF ,1223px 190px #FFF ,1801px 417px #FFF ,167px 469px #FFF ,1550px 1504px #FFF ,221px 342px #FFF ,967px 485px #FFF ,1640px 1677px #FFF ,745px 1500px #FFF ,211px 1175px #FFF ,1938px 1671px #FFF ,1916px 671px #FFF ,1925px 1017px #FFF ,254px 31px #FFF ,796px 1953px #FFF ,1869px 589px #FFF ,1200px 1280px #FFF ,1384px 1927px #FFF ,746px 1233px #FFF ,58px 1965px #FFF ,143px 1711px #FFF ,64px 1250px #FFF ,82px 658px #FFF ,65px 1089px #FFF ,1712px 615px #FFF ,764px 1309px #FFF ,658px 1054px #FFF ,822px 817px #FFF ,36px 1974px #FFF ,722px 1260px #FFF ,1482px 1227px #FFF ,961px 995px #FFF ,1658px 8px #FFF ,1909px 289px #FFF ,1053px 636px #FFF ,687px 929px #FFF ,603px 1093px #FFF ,1396px 218px #FFF ,1174px 846px #FFF ,990px 1908px #FFF ,1431px 404px #FFF ,359px 786px #FFF ,1365px 165px #FFF ,834px 505px #FFF ,693px 852px #FFF ,1335px 783px #FFF ,1030px 636px #FFF ,1586px 10px #FFF ,1515px 1921px #FFF ,1570px 1001px #FFF ,1266px 900px #FFF ,1278px 1419px #FFF ,883px 873px #FFF ,1793px 219px #FFF ,642px 828px #FFF ,811px 304px #FFF ,1015px 1003px #FFF ,65px 1088px #FFF ,11px 35px #FFF ,1260px 401px #FFF ,1547px 286px #FFF ,1403px 882px #FFF ,1969px 920px #FFF ,1219px 1880px #FFF ,1597px 1672px #FFF ,919px 1459px #FFF ,421px 1878px #FFF ,1745px 599px #FFF ,1644px 1462px #FFF ,362px 71px #FFF ,1466px 629px #FFF ,1096px 1944px #FFF ,574px 544px #FFF ,508px 129px #FFF ,464px 846px #FFF ,392px 778px #FFF ,330px 650px #FFF ,1897px 668px #FFF ,423px 820px #FFF ,271px 1809px #FFF ,619px 771px #FFF ,1642px 997px #FFF ,1437px 196px #FFF ,1819px 1865px #FFF ,1170px 523px #FFF ,744px 90px #FFF ,211px 471px #FFF ,782px 1659px #FFF ,1517px 1413px #FFF ,1552px 1110px #FFF ,456px 1975px #FFF ,1243px 537px #FFF ,110px 91px #FFF ,180px 288px #FFF ,1853px 399px #FFF ,623px 1501px #FFF ,222px 107px #FFF ,969px 1668px #FFF ,8px 1832px #FFF ,103px 1480px #FFF ,1224px 1039px #FFF ,1875px 1703px #FFF ,1421px 1226px #FFF ,1196px 1833px #FFF ,553px 1457px #FFF ,1508px 1180px #FFF ,436px 427px #FFF ,1563px 734px #FFF ,1226px 254px #FFF ,1816px 1550px #FFF ,1728px 465px #FFF ,960px 1067px #FFF ,502px 1818px #FFF ,7px 603px #FFF ,1322px 1723px #FFF ,1955px 1152px #FFF ,104px 1254px #FFF ,1255px 1638px #FFF ,798px 1534px #FFF ,1679px 1470px #FFF ,643px 1605px #FFF ,1803px 247px #FFF ,1161px 1311px #FFF ,1658px 784px #FFF ,50px 1686px #FFF ,754px 1408px #FFF ,727px 1232px #FFF ,1632px 774px #FFF ,1637px 256px #FFF ,778px 868px #FFF ,391px 1102px #FFF ,436px 768px #FFF ,1543px 1377px #FFF ,989px 707px #FFF ,1768px 1274px #FFF ,969px 195px #FFF ,74px 239px #FFF ,1800px 263px #FFF ,1712px 48px #FFF ,100px 1310px #FFF ,866px 1026px #FFF ,1770px 1562px #FFF ,78px 1277px #FFF ,1128px 1366px #FFF ,1131px 1591px #FFF ,54px 1518px #FFF ,967px 37px #FFF ,202px 1968px #FFF ,1429px 1177px #FFF ,423px 1892px #FFF ,123px 541px #FFF ,703px 854px #FFF ,634px 1852px #FFF ,66px 1863px #FFF ,1780px 219px #FFF ,709px 825px #FFF ,1308px 999px #FFF ,1254px 1150px #FFF ,584px 550px #FFF ,33px 1365px #FFF ,396px 722px #FFF ,558px 212px #FFF ,1862px 865px #FFF ,1964px 363px #FFF ,982px 1872px #FFF ,1746px 1024px #FFF ,683px 802px #FFF ,911px 835px #FFF ,1894px 582px #FFF ,1750px 446px #FFF ,495px 545px #FFF ,87px 907px #FFF ,619px 125px #FFF ,350px 178px #FFF ,529px 1842px #FFF ,1453px 1714px #FFF ,842px 892px #FFF ,363px 548px #FFF ,1735px 137px #FFF ,949px 1442px #FFF ,14px 1030px #FFF ,944px 1749px #FFF ,1677px 250px #FFF ,1843px 156px #FFF ,472px 382px #FFF ,990px 263px #FFF ,1641px 1596px #FFF ,1605px 253px #FFF ,426px 1972px #FFF ,779px 856px #FFF ,1387px 386px #FFF ,160px 109px #FFF ,684px 1159px #FFF ,1546px 1072px #FFF ,1646px 1019px #FFF ,504px 1223px #FFF ,1829px 60px #FFF ,1850px 761px #FFF ,1741px 15px #FFF ,1008px 375px #FFF ,918px 56px #FFF ,899px 127px #FFF ,251px 995px #FFF ,437px 943px #FFF ,1691px 366px #FFF ,1961px 1253px #FFF ,1240px 654px #FFF ,110px 1122px #FFF ,1321px 1047px #FFF ,501px 638px #FFF ,18px 765px #FFF ,25px 243px #FFF ,779px 1620px #FFF ,516px 334px #FFF ,223px 1276px #FFF ,1899px 1635px #FFF ,1523px 5px #FFF ,558px 351px #FFF ,750px 796px #FFF ,706px 303px #FFF ,555px 260px #FFF ,295px 784px #FFF ,1228px 1891px #FFF ,1849px 1535px #FFF ,1807px 1081px #FFF ,1902px 718px #FFF ,620px 321px #FFF ,217px 477px #FFF ,825px 1431px #FFF ,1920px 704px #FFF ,1923px 1411px #FFF ,250px 840px #FFF ,648px 521px #FFF ,1861px 1549px #FFF ,1727px 1102px #FFF ,579px 564px #FFF ,909px 1680px #FFF ,1701px 1314px #FFF ,1328px 1137px #FFF ,1879px 584px #FFF ,1873px 789px #FFF ,673px 433px #FFF ,1229px 1010px #FFF ,590px 1865px #FFF ,1508px 453px #FFF ,138px 559px #FFF ,26px 1554px #FFF ,902px 1158px #FFF ,1809px 987px #FFF ,704px 424px #FFF ,934px 188px #FFF ,1068px 5px #FFF ,1328px 1415px #FFF ,724px 1506px #FFF ,105px 447px #FFF ,891px 881px #FFF ,110px 177px #FFF ,1924px 302px #FFF ,886px 1510px #FFF ,675px 1953px #FFF ,1906px 111px #FFF ,138px 1804px #FFF ,1725px 1496px #FFF ,400px 991px #FFF ,754px 684px #FFF ,964px 560px #FFF ,587px 962px #FFF ,435px 195px #FFF ,1228px 1124px #FFF ,546px 708px #FFF ,1407px 1683px #FFF ,1391px 1054px #FFF ,1782px 816px #FFF ,14px 548px #FFF ,1835px 1272px #FFF ,1725px 1343px #FFF ,988px 1577px #FFF ,480px 344px #FFF ,1456px 148px #FFF ,1662px 1451px #FFF ,30px 190px #FFF ,1821px 699px #FFF ,1388px 667px #FFF ,1293px 166px #FFF ,1327px 1084px #FFF ,423px 673px #FFF ,232px 1647px #FFF ,580px 1771px #FFF ,1888px 1791px #FFF ,583px 1505px #FFF ,1975px 1325px #FFF ,451px 62px #FFF ,1306px 595px #FFF ,1230px 530px #FFF ,1179px 1850px #FFF ,1471px 1880px #FFF ,1361px 1054px #FFF ,882px 1721px #FFF ,1177px 1736px #FFF ,1763px 265px #FFF ,1220px 327px #FFF ,1243px 1556px #FFF ,18px 926px #FFF ,1894px 519px #FFF ,962px 1592px #FFF ,1840px 1128px #FFF ,1433px 212px #FFF ,1939px 1194px #FFF ,1457px 1876px #FFF ,106px 958px #FFF ,1882px 165px #FFF ,322px 1311px #FFF ,598px 1775px #FFF ,1288px 1636px #FFF ,1429px 1757px #FFF ,1582px 336px #FFF ,1664px 1987px #FFF ,904px 1017px #FFF ,339px 1238px #FFF ,1500px 969px #FFF ,1457px 110px #FFF ,794px 1067px #FFF ,1868px 486px #FFF ,484px 437px #FFF ,1370px 1649px #FFF ,1261px 1518px #FFF ,1195px 431px #FFF ,1873px 1690px #FFF ,348px 413px #FFF ,1036px 1758px #FFF ,1656px 1864px #FFF ,241px 730px #FFF ,1915px 834px #FFF ,1311px 1694px #FFF ,1100px 32px #FFF ,1741px 819px #FFF ,552px 796px #FFF ,300px 659px #FFF ,1630px 305px #FFF ,64px 1701px #FFF ,621px 814px #FFF ,680px 292px #FFF ,1624px 274px #FFF ,2px 1333px #FFF ,699px 1128px #FFF ,1310px 656px #FFF ,1773px 1404px #FFF ,1759px 770px #FFF ,755px 317px #FFF ,153px 1100px #FFF ,759px 1289px #FFF ,630px 928px #FFF ,1792px 1872px #FFF ,1620px 916px #FFF ,1424px 1362px #FFF ,1083px 626px #FFF ,854px 295px #FFF ,1574px 1573px #FFF ,1081px 1467px #FFF ,1827px 1542px #FFF ,1601px 531px #FFF ,1197px 279px #FFF ,1967px 1840px #FFF ,1251px 1810px #FFF ,1705px 480px #FFF ,207px 644px #FFF ,713px 1592px #FFF ,705px 30px #FFF ,493px 1479px #FFF ,287px 264px #FFF ,1074px 1792px #FFF ,1549px 181px #FFF ,769px 1263px #FFF ,1779px 729px #FFF ,398px 1962px #FFF ,297px 385px #FFF ,1059px 991px #FFF ,944px 905px #FFF ,486px 41px #FFF ,559px 433px #FFF ,330px 1372px #FFF ,712px 563px #FFF ,580px 1024px #FFF ,273px 1936px #FFF ,300px 1551px #FFF ,1644px 761px #FFF ,1549px 1762px #FFF ,1018px 244px #FFF ,111px 1516px #FFF ,137px 1328px #FFF ,1620px 240px #FFF ,760px 297px #FFF ,1365px 978px #FFF ,1801px 481px #FFF ,476px 1520px #FFF ,1700px 1060px #FFF ,702px 1873px #FFF ,1882px 1772px #FFF ,301px 1604px #FFF ,167px 983px #FFF ,144px 328px #FFF ,1428px 1820px #FFF ,1039px 1150px #FFF ,156px 280px #FFF ,1896px 642px #FFF ,1526px 777px #FFF ,1181px 1172px #FFF ,1129px 1558px #FFF ,405px 1317px #FFF ,296px 32px #FFF ,1287px 1346px #FFF ,512px 1132px #FFF ,1724px 100px #FFF ,747px 534px #FFF ,1743px 248px #FFF ,1869px 1185px #FFF ,1439px 1040px #FFF ,451px 927px #FFF ,1274px 1063px #FFF ,1654px 1519px #FFF ,489px 1698px #FFF ,1422px 1705px #FFF ,1551px 95px #FFF ,1272px 1502px #FFF ,1186px 1507px #FFF ,1407px 1579px #FFF ,91px 75px #FFF ,1887px 1421px #FFF ,748px 294px #FFF ,428px 234px #FFF ,401px 138px #FFF ,1785px 1274px #FFF ,1547px 1643px #FFF ,1068px 694px #FFF ,9px 824px #FFF ,334px 473px #FFF ,1898px 1357px #FFF ,1519px 1390px #FFF ,615px 1371px #FFF ,381px 950px #FFF ,974px 632px #FFF ,1276px 393px #FFF ,1394px 1563px #FFF ,358px 885px #FFF ,300px 1289px #FFF ,796px 48px #FFF ,869px 1444px #FFF ,919px 569px #FFF ,1593px 1181px #FFF ,1667px 1243px #FFF ,828px 1847px #FFF ,1030px 1255px #FFF ,1496px 1484px #FFF ,1130px 466px #FFF ,1364px 606px #FFF ,910px 1394px #FFF ,609px 1287px #FFF ,571px 464px #FFF ,119px 1373px #FFF ,1351px 1482px #FFF ,1286px 1508px #FFF ,235px 616px #FFF ,936px 962px #FFF ,555px 363px #FFF ,1733px 925px #FFF ,91px 862px #FFF ,1168px 630px #FFF ,1305px 1319px #FFF ,1836px 986px #FFF ,43px 1829px #FFF ,212px 196px #FFF ,553px 1379px #FFF ,1275px 506px #FFF ,1558px 839px #FFF ,1888px 1994px #FFF ,779px 1604px #FFF ,169px 1177px #FFF ,571px 854px #FFF ,208px 1888px #FFF ,1830px 1849px #FFF ,1696px 1872px #FFF ,1884px 1634px #FFF ,358px 47px #FFF ,369px 566px #FFF ,465px 1069px #FFF ,836px 294px #FFF ,1685px 500px #FFF ,1975px 375px #FFF ,1942px 1056px #FFF ,46px 538px #FFF ,1956px 84px #FFF ,1549px 935px #FFF ,820px 414px #FFF ,998px 736px #FFF ,1460px 1136px #FFF ,1817px 160px #FFF ,104px 1351px #FFF ,1049px 900px #FFF ,1173px 1141px #FFF ,1078px 418px #FFF ,1542px 328px #FFF ,177px 1850px #FFF ,765px 1583px #FFF ,432px 38px #FFF ,763px 74px #FFF ,1515px 1486px #FFF ,183px 1899px #FFF ,1529px 1943px #FFF ,871px 1407px #FFF ,426px 1844px #FFF ,679px 1542px #FFF ,303px 1772px #FFF ,201px 347px #FFF ,1411px 1954px #FFF ,1171px 812px #FFF ,1160px 281px #FFF ,1954px 1339px #FFF ,702px 1921px #FFF ,918px 598px #FFF ,1155px 139px #FFF ,1437px 1061px #FFF ,1811px 367px #FFF;animation:animStar 50s linear infinite}#stars:after{content:" ";position:absolute;top:2000px;width:1px;height:1px;background:transparent;box-shadow:2000px 1299px #FFF ,1525px 1136px #FFF ,890px 236px #FFF ,951px 516px #FFF ,1189px 899px #FFF ,1294px 62px #FFF ,254px 853px #FFF ,250px 157px #FFF ,219px 852px #FFF ,1395px 1656px #FFF ,1576px 1447px #FFF ,1251px 1570px #FFF ,568px 1554px #FFF ,269px 768px #FFF ,73px 1298px #FFF ,1468px 1187px #FFF ,1305px 653px #FFF ,266px 1942px #FFF ,293px 1266px #FFF ,171px 1832px #FFF ,49px 971px #FFF ,193px 1550px #FFF ,942px 1322px #FFF ,330px 26px #FFF ,499px 1259px #FFF ,1103px 716px #FFF ,624px 842px #FFF ,606px 687px #FFF ,1369px 1039px #FFF ,196px 1684px #FFF ,608px 1591px #FFF ,628px 122px #FFF ,1108px 1381px #FFF ,1594px 1467px #FFF ,1346px 1684px #FFF ,1879px 18px #FFF ,533px 1353px #FFF ,327px 162px #FFF ,1374px 411px #FFF ,851px 1435px #FFF ,495px 577px #FFF ,980px 361px #FFF ,702px 826px #FFF ,108px 1278px #FFF ,29px 1072px #FFF ,1627px 1958px #FFF ,1235px 673px #FFF ,651px 1355px #FFF ,1578px 1783px #FFF ,574px 305px #FFF ,372px 1564px #FFF ,1787px 487px #FFF ,121px 1982px #FFF ,1840px 434px #FFF ,323px 1582px #FFF ,1669px 422px #FFF ,1970px 493px #FFF ,822px 1196px #FFF ,728px 1785px #FFF ,782px 1517px #FFF ,1473px 377px #FFF ,1125px 1592px #FFF ,767px 962px #FFF ,197px 538px #FFF ,236px 539px #FFF ,1547px 789px #FFF ,1777px 886px #FFF ,597px 1800px #FFF ,1511px 645px #FFF ,699px 528px #FFF ,1544px 576px #FFF ,1080px 812px #FFF ,1494px 1308px #FFF ,1367px 1269px #FFF ,1849px 311px #FFF ,1114px 275px #FFF ,1345px 1087px #FFF ,522px 322px #FFF ,253px 1079px #FFF ,1811px 1518px #FFF ,224px 1294px #FFF ,1062px 301px #FFF ,1114px 746px #FFF ,895px 279px #FFF ,79px 1601px #FFF ,982px 1292px #FFF ,1020px 375px #FFF ,1737px 1360px #FFF ,259px 661px #FFF ,619px 910px #FFF ,30px 1022px #FFF ,931px 395px #FFF ,303px 1008px #FFF ,1269px 380px #FFF ,473px 1261px #FFF ,576px 1496px #FFF ,181px 1844px #FFF ,978px 1883px #FFF ,540px 105px #FFF ,1787px 406px #FFF ,345px 691px #FFF ,438px 384px #FFF ,653px 62px #FFF ,1190px 219px #FFF ,1121px 453px #FFF ,299px 1872px #FFF ,367px 298px #FFF ,607px 1968px #FFF ,635px 399px #FFF ,1338px 1039px #FFF ,459px 70px #FFF ,993px 884px #FFF ,1978px 351px #FFF ,16px 1609px #FFF ,568px 803px #FFF ,1180px 122px #FFF ,1220px 13px #FFF ,182px 1190px #FFF ,1717px 1552px #FFF ,699px 1771px #FFF ,1334px 718px #FFF ,989px 248px #FFF ,1724px 1708px #FFF ,1031px 590px #FFF ,408px 396px #FFF ,536px 734px #FFF ,57px 1788px #FFF ,238px 1289px #FFF ,1647px 366px #FFF ,8px 1408px #FFF ,1905px 1964px #FFF ,92px 590px #FFF ,78px 1660px #FFF ,39px 468px #FFF ,261px 1295px #FFF ,1055px 623px #FFF ,1081px 82px #FFF ,702px 1011px #FFF ,519px 599px #FFF ,1917px 127px #FFF ,1251px 1396px #FFF ,527px 1714px #FFF ,1850px 1625px #FFF ,986px 1804px #FFF ,345px 515px #FFF ,910px 1289px #FFF ,893px 1876px #FFF ,478px 961px #FFF ,1150px 1343px #FFF ,1926px 660px #FFF ,1299px 472px #FFF ,1788px 1314px #FFF ,794px 462px #FFF ,1115px 413px #FFF ,777px 275px #FFF ,816px 1912px #FFF ,809px 759px #FFF ,70px 484px #FFF ,1209px 759px #FFF ,894px 974px #FFF ,39px 135px #FFF ,1339px 1793px #FFF ,225px 843px #FFF ,1071px 616px #FFF ,848px 152px #FFF ,772px 1027px #FFF ,142px 1853px #FFF ,535px 1975px #FFF ,1957px 1510px #FFF ,1784px 50px #FFF ,1631px 1891px #FFF ,421px 740px #FFF ,1528px 871px #FFF ,81px 1492px #FFF ,1001px 856px #FFF ,499px 1446px #FFF ,552px 852px #FFF ,690px 948px #FFF ,610px 1347px #FFF ,1223px 190px #FFF ,1801px 417px #FFF ,167px 469px #FFF ,1550px 1504px #FFF ,221px 342px #FFF ,967px 485px #FFF ,1640px 1677px #FFF ,745px 1500px #FFF ,211px 1175px #FFF ,1938px 1671px #FFF ,1916px 671px #FFF ,1925px 1017px #FFF ,254px 31px #FFF ,796px 1953px #FFF ,1869px 589px #FFF ,1200px 1280px #FFF ,1384px 1927px #FFF ,746px 1233px #FFF ,58px 1965px #FFF ,143px 1711px #FFF ,64px 1250px #FFF ,82px 658px #FFF ,65px 1089px #FFF ,1712px 615px #FFF ,764px 1309px #FFF ,658px 1054px #FFF ,822px 817px #FFF ,36px 1974px #FFF ,722px 1260px #FFF ,1482px 1227px #FFF ,961px 995px #FFF ,1658px 8px #FFF ,1909px 289px #FFF ,1053px 636px #FFF ,687px 929px #FFF ,603px 1093px #FFF ,1396px 218px #FFF ,1174px 846px #FFF ,990px 1908px #FFF ,1431px 404px #FFF ,359px 786px #FFF ,1365px 165px #FFF ,834px 505px #FFF ,693px 852px #FFF ,1335px 783px #FFF ,1030px 636px #FFF ,1586px 10px #FFF ,1515px 1921px #FFF ,1570px 1001px #FFF ,1266px 900px #FFF ,1278px 1419px #FFF ,883px 873px #FFF ,1793px 219px #FFF ,642px 828px #FFF ,811px 304px #FFF ,1015px 1003px #FFF ,65px 1088px #FFF ,11px 35px #FFF ,1260px 401px #FFF ,1547px 286px #FFF ,1403px 882px #FFF ,1969px 920px #FFF ,1219px 1880px #FFF ,1597px 1672px #FFF ,919px 1459px #FFF ,421px 1878px #FFF ,1745px 599px #FFF ,1644px 1462px #FFF ,362px 71px #FFF ,1466px 629px #FFF ,1096px 1944px #FFF ,574px 544px #FFF ,508px 129px #FFF ,464px 846px #FFF ,392px 778px #FFF ,330px 650px #FFF ,1897px 668px #FFF ,423px 820px #FFF ,271px 1809px #FFF ,619px 771px #FFF ,1642px 997px #FFF ,1437px 196px #FFF ,1819px 1865px #FFF ,1170px 523px #FFF ,744px 90px #FFF ,211px 471px #FFF ,782px 1659px #FFF ,1517px 1413px #FFF ,1552px 1110px #FFF ,456px 1975px #FFF ,1243px 537px #FFF ,110px 91px #FFF ,180px 288px #FFF ,1853px 399px #FFF ,623px 1501px #FFF ,222px 107px #FFF ,969px 1668px #FFF ,8px 1832px #FFF ,103px 1480px #FFF ,1224px 1039px #FFF ,1875px 1703px #FFF ,1421px 1226px #FFF ,1196px 1833px #FFF ,553px 1457px #FFF ,1508px 1180px #FFF ,436px 427px #FFF ,1563px 734px #FFF ,1226px 254px #FFF ,1816px 1550px #FFF ,1728px 465px #FFF ,960px 1067px #FFF ,502px 1818px #FFF ,7px 603px #FFF ,1322px 1723px #FFF ,1955px 1152px #FFF ,104px 1254px #FFF ,1255px 1638px #FFF ,798px 1534px #FFF ,1679px 1470px #FFF ,643px 1605px #FFF ,1803px 247px #FFF ,1161px 1311px #FFF ,1658px 784px #FFF ,50px 1686px #FFF ,754px 1408px #FFF ,727px 1232px #FFF ,1632px 774px #FFF ,1637px 256px #FFF ,778px 868px #FFF ,391px 1102px #FFF ,436px 768px #FFF ,1543px 1377px #FFF ,989px 707px #FFF ,1768px 1274px #FFF ,969px 195px #FFF ,74px 239px #FFF ,1800px 263px #FFF ,1712px 48px #FFF ,100px 1310px #FFF ,866px 1026px #FFF ,1770px 1562px #FFF ,78px 1277px #FFF ,1128px 1366px #FFF ,1131px 1591px #FFF ,54px 1518px #FFF ,967px 37px #FFF ,202px 1968px #FFF ,1429px 1177px #FFF ,423px 1892px #FFF ,123px 541px #FFF ,703px 854px #FFF ,634px 1852px #FFF ,66px 1863px #FFF ,1780px 219px #FFF ,709px 825px #FFF ,1308px 999px #FFF ,1254px 1150px #FFF ,584px 550px #FFF ,33px 1365px #FFF ,396px 722px #FFF ,558px 212px #FFF ,1862px 865px #FFF ,1964px 363px #FFF ,982px 1872px #FFF ,1746px 1024px #FFF ,683px 802px #FFF ,911px 835px #FFF ,1894px 582px #FFF ,1750px 446px #FFF ,495px 545px #FFF ,87px 907px #FFF ,619px 125px #FFF ,350px 178px #FFF ,529px 1842px #FFF ,1453px 1714px #FFF ,842px 892px #FFF ,363px 548px #FFF ,1735px 137px #FFF ,949px 1442px #FFF ,14px 1030px #FFF ,944px 1749px #FFF ,1677px 250px #FFF ,1843px 156px #FFF ,472px 382px #FFF ,990px 263px #FFF ,1641px 1596px #FFF ,1605px 253px #FFF ,426px 1972px #FFF ,779px 856px #FFF ,1387px 386px #FFF ,160px 109px #FFF ,684px 1159px #FFF ,1546px 1072px #FFF ,1646px 1019px #FFF ,504px 1223px #FFF ,1829px 60px #FFF ,1850px 761px #FFF ,1741px 15px #FFF ,1008px 375px #FFF ,918px 56px #FFF ,899px 127px #FFF ,251px 995px #FFF ,437px 943px #FFF ,1691px 366px #FFF ,1961px 1253px #FFF ,1240px 654px #FFF ,110px 1122px #FFF ,1321px 1047px #FFF ,501px 638px #FFF ,18px 765px #FFF ,25px 243px #FFF ,779px 1620px #FFF ,516px 334px #FFF ,223px 1276px #FFF ,1899px 1635px #FFF ,1523px 5px #FFF ,558px 351px #FFF ,750px 796px #FFF ,706px 303px #FFF ,555px 260px #FFF ,295px 784px #FFF ,1228px 1891px #FFF ,1849px 1535px #FFF ,1807px 1081px #FFF ,1902px 718px #FFF ,620px 321px #FFF ,217px 477px #FFF ,825px 1431px #FFF ,1920px 704px #FFF ,1923px 1411px #FFF ,250px 840px #FFF ,648px 521px #FFF ,1861px 1549px #FFF ,1727px 1102px #FFF ,579px 564px #FFF ,909px 1680px #FFF ,1701px 1314px #FFF ,1328px 1137px #FFF ,1879px 584px #FFF ,1873px 789px #FFF ,673px 433px #FFF ,1229px 1010px #FFF ,590px 1865px #FFF ,1508px 453px #FFF ,138px 559px #FFF ,26px 1554px #FFF ,902px 1158px #FFF ,1809px 987px #FFF ,704px 424px #FFF ,934px 188px #FFF ,1068px 5px #FFF ,1328px 1415px #FFF ,724px 1506px #FFF ,105px 447px #FFF ,891px 881px #FFF ,110px 177px #FFF ,1924px 302px #FFF ,886px 1510px #FFF ,675px 1953px #FFF ,1906px 111px #FFF ,138px 1804px #FFF ,1725px 1496px #FFF ,400px 991px #FFF ,754px 684px #FFF ,964px 560px #FFF ,587px 962px #FFF ,435px 195px #FFF ,1228px 1124px #FFF ,546px 708px #FFF ,1407px 1683px #FFF ,1391px 1054px #FFF ,1782px 816px #FFF ,14px 548px #FFF ,1835px 1272px #FFF ,1725px 1343px #FFF ,988px 1577px #FFF ,480px 344px #FFF ,1456px 148px #FFF ,1662px 1451px #FFF ,30px 190px #FFF ,1821px 699px #FFF ,1388px 667px #FFF ,1293px 166px #FFF ,1327px 1084px #FFF ,423px 673px #FFF ,232px 1647px #FFF ,580px 1771px #FFF ,1888px 1791px #FFF ,583px 1505px #FFF ,1975px 1325px #FFF ,451px 62px #FFF ,1306px 595px #FFF ,1230px 530px #FFF ,1179px 1850px #FFF ,1471px 1880px #FFF ,1361px 1054px #FFF ,882px 1721px #FFF ,1177px 1736px #FFF ,1763px 265px #FFF ,1220px 327px #FFF ,1243px 1556px #FFF ,18px 926px #FFF ,1894px 519px #FFF ,962px 1592px #FFF ,1840px 1128px #FFF ,1433px 212px #FFF ,1939px 1194px #FFF ,1457px 1876px #FFF ,106px 958px #FFF ,1882px 165px #FFF ,322px 1311px #FFF ,598px 1775px #FFF ,1288px 1636px #FFF ,1429px 1757px #FFF ,1582px 336px #FFF ,1664px 1987px #FFF ,904px 1017px #FFF ,339px 1238px #FFF ,1500px 969px #FFF ,1457px 110px #FFF ,794px 1067px #FFF ,1868px 486px #FFF ,484px 437px #FFF ,1370px 1649px #FFF ,1261px 1518px #FFF ,1195px 431px #FFF ,1873px 1690px #FFF ,348px 413px #FFF ,1036px 1758px #FFF ,1656px 1864px #FFF ,241px 730px #FFF ,1915px 834px #FFF ,1311px 1694px #FFF ,1100px 32px #FFF ,1741px 819px #FFF ,552px 796px #FFF ,300px 659px #FFF ,1630px 305px #FFF ,64px 1701px #FFF ,621px 814px #FFF ,680px 292px #FFF ,1624px 274px #FFF ,2px 1333px #FFF ,699px 1128px #FFF ,1310px 656px #FFF ,1773px 1404px #FFF ,1759px 770px #FFF ,755px 317px #FFF ,153px 1100px #FFF ,759px 1289px #FFF ,630px 928px #FFF ,1792px 1872px #FFF ,1620px 916px #FFF ,1424px 1362px #FFF ,1083px 626px #FFF ,854px 295px #FFF ,1574px 1573px #FFF ,1081px 1467px #FFF ,1827px 1542px #FFF ,1601px 531px #FFF ,1197px 279px #FFF ,1967px 1840px #FFF ,1251px 1810px #FFF ,1705px 480px #FFF ,207px 644px #FFF ,713px 1592px #FFF ,705px 30px #FFF ,493px 1479px #FFF ,287px 264px #FFF ,1074px 1792px #FFF ,1549px 181px #FFF ,769px 1263px #FFF ,1779px 729px #FFF ,398px 1962px #FFF ,297px 385px #FFF ,1059px 991px #FFF ,944px 905px #FFF ,486px 41px #FFF ,559px 433px #FFF ,330px 1372px #FFF ,712px 563px #FFF ,580px 1024px #FFF ,273px 1936px #FFF ,300px 1551px #FFF ,1644px 761px #FFF ,1549px 1762px #FFF ,1018px 244px #FFF ,111px 1516px #FFF ,137px 1328px #FFF ,1620px 240px #FFF ,760px 297px #FFF ,1365px 978px #FFF ,1801px 481px #FFF ,476px 1520px #FFF ,1700px 1060px #FFF ,702px 1873px #FFF ,1882px 1772px #FFF ,301px 1604px #FFF ,167px 983px #FFF ,144px 328px #FFF ,1428px 1820px #FFF ,1039px 1150px #FFF ,156px 280px #FFF ,1896px 642px #FFF ,1526px 777px #FFF ,1181px 1172px #FFF ,1129px 1558px #FFF ,405px 1317px #FFF ,296px 32px #FFF ,1287px 1346px #FFF ,512px 1132px #FFF ,1724px 100px #FFF ,747px 534px #FFF ,1743px 248px #FFF ,1869px 1185px #FFF ,1439px 1040px #FFF ,451px 927px #FFF ,1274px 1063px #FFF ,1654px 1519px #FFF ,489px 1698px #FFF ,1422px 1705px #FFF ,1551px 95px #FFF ,1272px 1502px #FFF ,1186px 1507px #FFF ,1407px 1579px #FFF ,91px 75px #FFF ,1887px 1421px #FFF ,748px 294px #FFF ,428px 234px #FFF ,401px 138px #FFF ,1785px 1274px #FFF ,1547px 1643px #FFF ,1068px 694px #FFF ,9px 824px #FFF ,334px 473px #FFF ,1898px 1357px #FFF ,1519px 1390px #FFF ,615px 1371px #FFF ,381px 950px #FFF ,974px 632px #FFF ,1276px 393px #FFF ,1394px 1563px #FFF ,358px 885px #FFF ,300px 1289px #FFF ,796px 48px #FFF ,869px 1444px #FFF ,919px 569px #FFF ,1593px 1181px #FFF ,1667px 1243px #FFF ,828px 1847px #FFF ,1030px 1255px #FFF ,1496px 1484px #FFF ,1130px 466px #FFF ,1364px 606px #FFF ,910px 1394px #FFF ,609px 1287px #FFF ,571px 464px #FFF ,119px 1373px #FFF ,1351px 1482px #FFF ,1286px 1508px #FFF ,235px 616px #FFF ,936px 962px #FFF ,555px 363px #FFF ,1733px 925px #FFF ,91px 862px #FFF ,1168px 630px #FFF ,1305px 1319px #FFF ,1836px 986px #FFF ,43px 1829px #FFF ,212px 196px #FFF ,553px 1379px #FFF ,1275px 506px #FFF ,1558px 839px #FFF ,1888px 1994px #FFF ,779px 1604px #FFF ,169px 1177px #FFF ,571px 854px #FFF ,208px 1888px #FFF ,1830px 1849px #FFF ,1696px 1872px #FFF ,1884px 1634px #FFF ,358px 47px #FFF ,369px 566px #FFF ,465px 1069px #FFF ,836px 294px #FFF ,1685px 500px #FFF ,1975px 375px #FFF ,1942px 1056px #FFF ,46px 538px #FFF ,1956px 84px #FFF ,1549px 935px #FFF ,820px 414px #FFF ,998px 736px #FFF ,1460px 1136px #FFF ,1817px 160px #FFF ,104px 1351px #FFF ,1049px 900px #FFF ,1173px 1141px #FFF ,1078px 418px #FFF ,1542px 328px #FFF ,177px 1850px #FFF ,765px 1583px #FFF ,432px 38px #FFF ,763px 74px #FFF ,1515px 1486px #FFF ,183px 1899px #FFF ,1529px 1943px #FFF ,871px 1407px #FFF ,426px 1844px #FFF ,679px 1542px #FFF ,303px 1772px #FFF ,201px 347px #FFF ,1411px 1954px #FFF ,1171px 812px #FFF ,1160px 281px #FFF ,1954px 1339px #FFF ,702px 1921px #FFF ,918px 598px #FFF ,1155px 139px #FFF ,1437px 1061px #FFF ,1811px 367px #FFF}#stars2{width:2px;height:2px;background:transparent;box-shadow:53px 556px #FFF ,167px 1564px #FFF ,1136px 1907px #FFF ,330px 434px #FFF ,1124px 1602px #FFF ,833px 1422px #FFF ,1759px 1631px #FFF ,1153px 1495px #FFF ,885px 884px #FFF ,1817px 1639px #FFF ,1430px 781px #FFF ,419px 566px #FFF ,667px 1057px #FFF ,317px 309px #FFF ,681px 1478px #FFF ,689px 1626px #FFF ,862px 715px #FFF ,22px 532px #FFF ,614px 400px #FFF ,1613px 1220px #FFF ,387px 633px #FFF ,481px 620px #FFF ,161px 135px #FFF ,58px 506px #FFF ,1885px 901px #FFF ,111px 1200px #FFF ,103px 1561px #FFF ,346px 1453px #FFF ,100px 45px #FFF ,333px 395px #FFF ,1999px 356px #FFF ,694px 175px #FFF ,324px 1095px #FFF ,348px 728px #FFF ,1357px 109px #FFF ,1253px 1097px #FFF ,132px 706px #FFF ,542px 856px #FFF ,592px 776px #FFF ,1141px 1366px #FFF ,628px 354px #FFF ,1424px 100px #FFF ,1860px 78px #FFF ,557px 1976px #FFF ,1479px 1483px #FFF ,200px 26px #FFF ,878px 171px #FFF ,199px 915px #FFF ,1959px 373px #FFF ,379px 1862px #FFF ,999px 1806px #FFF ,978px 1218px #FFF ,328px 165px #FFF ,707px 1077px #FFF ,1309px 1771px #FFF ,932px 979px #FFF ,1730px 1611px #FFF ,275px 1122px #FFF ,1600px 761px #FFF ,1987px 849px #FFF ,1890px 452px #FFF ,1952px 1455px #FFF ,1750px 1281px #FFF ,462px 1035px #FFF ,246px 582px #FFF ,781px 840px #FFF ,39px 1999px #FFF ,1140px 1734px #FFF ,814px 271px #FFF ,1101px 1348px #FFF ,1316px 881px #FFF ,345px 1726px #FFF ,1351px 1929px #FFF ,1782px 383px #FFF ,393px 929px #FFF ,887px 1495px #FFF ,1048px 1514px #FFF ,1153px 1784px #FFF ,739px 1012px #FFF ,1469px 482px #FFF ,180px 1994px #FFF ,797px 17px #FFF ,1477px 876px #FFF ,1122px 495px #FFF ,1634px 893px #FFF ,678px 518px #FFF ,1441px 347px #FFF ,376px 1054px #FFF ,865px 1201px #FFF ,1141px 1570px #FFF ,183px 233px #FFF ,1923px 40px #FFF ,1707px 568px #FFF ,215px 1881px #FFF ,689px 563px #FFF ,373px 538px #FFF ,1266px 480px #FFF ,1847px 209px #FFF ,237px 795px #FFF ,1584px 1843px #FFF ,534px 388px #FFF ,1276px 1552px #FFF ,937px 1655px #FFF ,1544px 239px #FFF ,1066px 1570px #FFF ,1540px 380px #FFF ,982px 348px #FFF ,1054px 760px #FFF ,1961px 1601px #FFF ,1962px 20px #FFF ,1210px 1631px #FFF ,1686px 1748px #FFF ,1411px 44px #FFF ,281px 944px #FFF ,1242px 1289px #FFF ,1490px 1328px #FFF ,1568px 1850px #FFF ,1932px 146px #FFF ,1052px 1350px #FFF ,1826px 1996px #FFF ,1441px 1528px #FFF ,1426px 915px #FFF ,197px 1081px #FFF ,991px 1539px #FFF ,1913px 66px #FFF ,390px 302px #FFF ,1476px 1833px #FFF ,980px 98px #FFF ,895px 1171px #FFF ,1113px 670px #FFF ,1018px 171px #FFF ,1845px 1900px #FFF ,535px 1746px #FFF ,393px 1891px #FFF ,456px 202px #FFF ,73px 939px #FFF ,1855px 1605px #FFF ,1772px 846px #FFF ,1214px 1530px #FFF ,1655px 1076px #FFF ,149px 1928px #FFF ,1893px 1201px #FFF ,1958px 760px #FFF ,6px 727px #FFF ,1054px 233px #FFF ,1982px 834px #FFF ,1703px 336px #FFF ,449px 1657px #FFF ,1792px 566px #FFF ,1007px 1018px #FFF ,222px 1903px #FFF ,1492px 1604px #FFF ,1300px 1229px #FFF ,1188px 1193px #FFF ,1785px 371px #FFF ,654px 1733px #FFF ,1720px 1472px #FFF ,1045px 742px #FFF ,35px 1726px #FFF ,857px 690px #FFF ,1166px 1114px #FFF ,734px 1034px #FFF ,1234px 308px #FFF ,342px 973px #FFF ,1870px 1997px #FFF ,756px 1562px #FFF ,1335px 1961px #FFF ,580px 1096px #FFF ,1288px 1788px #FFF ,25px 1068px #FFF ,1468px 860px #FFF ,1563px 1384px #FFF ,1139px 1998px #FFF ,304px 776px #FFF ,1192px 548px #FFF ,1107px 1189px #FFF ,1530px 1079px #FFF ,1741px 1410px #FFF ,1165px 238px #FFF ,1912px 1905px #FFF ,658px 1683px #FFF ,845px 757px #FFF ,346px 253px #FFF ,931px 576px #FFF ,231px 1517px #FFF ,521px 265px #FFF ,684px 872px #FFF ,1636px 1001px #FFF ,63px 1134px #FFF ,1199px 1968px #FFF ,86px 1343px #FFF ,1586px 1579px #FFF ,865px 744px #FFF ,494px 782px #FFF ,63px 979px #FFF ,202px 1213px #FFF ,1609px 862px #FFF ,1869px 1571px #FFF ,660px 1529px #FFF ,1189px 148px #FFF;animation:animStar 100s linear infinite}#stars2:after{content:" ";position:absolute;top:2000px;width:2px;height:2px;background:transparent;box-shadow:53px 556px #FFF ,167px 1564px #FFF ,1136px 1907px #FFF ,330px 434px #FFF ,1124px 1602px #FFF ,833px 1422px #FFF ,1759px 1631px #FFF ,1153px 1495px #FFF ,885px 884px #FFF ,1817px 1639px #FFF ,1430px 781px #FFF ,419px 566px #FFF ,667px 1057px #FFF ,317px 309px #FFF ,681px 1478px #FFF ,689px 1626px #FFF ,862px 715px #FFF ,22px 532px #FFF ,614px 400px #FFF ,1613px 1220px #FFF ,387px 633px #FFF ,481px 620px #FFF ,161px 135px #FFF ,58px 506px #FFF ,1885px 901px #FFF ,111px 1200px #FFF ,103px 1561px #FFF ,346px 1453px #FFF ,100px 45px #FFF ,333px 395px #FFF ,1999px 356px #FFF ,694px 175px #FFF ,324px 1095px #FFF ,348px 728px #FFF ,1357px 109px #FFF ,1253px 1097px #FFF ,132px 706px #FFF ,542px 856px #FFF ,592px 776px #FFF ,1141px 1366px #FFF ,628px 354px #FFF ,1424px 100px #FFF ,1860px 78px #FFF ,557px 1976px #FFF ,1479px 1483px #FFF ,200px 26px #FFF ,878px 171px #FFF ,199px 915px #FFF ,1959px 373px #FFF ,379px 1862px #FFF ,999px 1806px #FFF ,978px 1218px #FFF ,328px 165px #FFF ,707px 1077px #FFF ,1309px 1771px #FFF ,932px 979px #FFF ,1730px 1611px #FFF ,275px 1122px #FFF ,1600px 761px #FFF ,1987px 849px #FFF ,1890px 452px #FFF ,1952px 1455px #FFF ,1750px 1281px #FFF ,462px 1035px #FFF ,246px 582px #FFF ,781px 840px #FFF ,39px 1999px #FFF ,1140px 1734px #FFF ,814px 271px #FFF ,1101px 1348px #FFF ,1316px 881px #FFF ,345px 1726px #FFF ,1351px 1929px #FFF ,1782px 383px #FFF ,393px 929px #FFF ,887px 1495px #FFF ,1048px 1514px #FFF ,1153px 1784px #FFF ,739px 1012px #FFF ,1469px 482px #FFF ,180px 1994px #FFF ,797px 17px #FFF ,1477px 876px #FFF ,1122px 495px #FFF ,1634px 893px #FFF ,678px 518px #FFF ,1441px 347px #FFF ,376px 1054px #FFF ,865px 1201px #FFF ,1141px 1570px #FFF ,183px 233px #FFF ,1923px 40px #FFF ,1707px 568px #FFF ,215px 1881px #FFF ,689px 563px #FFF ,373px 538px #FFF ,1266px 480px #FFF ,1847px 209px #FFF ,237px 795px #FFF ,1584px 1843px #FFF ,534px 388px #FFF ,1276px 1552px #FFF ,937px 1655px #FFF ,1544px 239px #FFF ,1066px 1570px #FFF ,1540px 380px #FFF ,982px 348px #FFF ,1054px 760px #FFF ,1961px 1601px #FFF ,1962px 20px #FFF ,1210px 1631px #FFF ,1686px 1748px #FFF ,1411px 44px #FFF ,281px 944px #FFF ,1242px 1289px #FFF ,1490px 1328px #FFF ,1568px 1850px #FFF ,1932px 146px #FFF ,1052px 1350px #FFF ,1826px 1996px #FFF ,1441px 1528px #FFF ,1426px 915px #FFF ,197px 1081px #FFF ,991px 1539px #FFF ,1913px 66px #FFF ,390px 302px #FFF ,1476px 1833px #FFF ,980px 98px #FFF ,895px 1171px #FFF ,1113px 670px #FFF ,1018px 171px #FFF ,1845px 1900px #FFF ,535px 1746px #FFF ,393px 1891px #FFF ,456px 202px #FFF ,73px 939px #FFF ,1855px 1605px #FFF ,1772px 846px #FFF ,1214px 1530px #FFF ,1655px 1076px #FFF ,149px 1928px #FFF ,1893px 1201px #FFF ,1958px 760px #FFF ,6px 727px #FFF ,1054px 233px #FFF ,1982px 834px #FFF ,1703px 336px #FFF ,449px 1657px #FFF ,1792px 566px #FFF ,1007px 1018px #FFF ,222px 1903px #FFF ,1492px 1604px #FFF ,1300px 1229px #FFF ,1188px 1193px #FFF ,1785px 371px #FFF ,654px 1733px #FFF ,1720px 1472px #FFF ,1045px 742px #FFF ,35px 1726px #FFF ,857px 690px #FFF ,1166px 1114px #FFF ,734px 1034px #FFF ,1234px 308px #FFF ,342px 973px #FFF ,1870px 1997px #FFF ,756px 1562px #FFF ,1335px 1961px #FFF ,580px 1096px #FFF ,1288px 1788px #FFF ,25px 1068px #FFF ,1468px 860px #FFF ,1563px 1384px #FFF ,1139px 1998px #FFF ,304px 776px #FFF ,1192px 548px #FFF ,1107px 1189px #FFF ,1530px 1079px #FFF ,1741px 1410px #FFF ,1165px 238px #FFF ,1912px 1905px #FFF ,658px 1683px #FFF ,845px 757px #FFF ,346px 253px #FFF ,931px 576px #FFF ,231px 1517px #FFF ,521px 265px #FFF ,684px 872px #FFF ,1636px 1001px #FFF ,63px 1134px #FFF ,1199px 1968px #FFF ,86px 1343px #FFF ,1586px 1579px #FFF ,865px 744px #FFF ,494px 782px #FFF ,63px 979px #FFF ,202px 1213px #FFF ,1609px 862px #FFF ,1869px 1571px #FFF ,660px 1529px #FFF ,1189px 148px #FFF}#stars3{width:3px;height:3px;background:transparent;box-shadow:792px 1163px #FFF ,519px 644px #FFF ,1341px 669px #FFF ,965px 1636px #FFF ,442px 1471px #FFF ,614px 1891px #FFF ,972px 253px #FFF ,1600px 1190px #FFF ,775px 328px #FFF ,293px 397px #FFF ,840px 1674px #FFF ,1581px 734px #FFF ,1995px 440px #FFF ,1525px 533px #FFF ,148px 1744px #FFF ,1779px 44px #FFF ,363px 1132px #FFF ,476px 1716px #FFF ,1716px 188px #FFF ,175px 1024px #FFF ,1127px 746px #FFF ,1328px 1567px #FFF ,1488px 658px #FFF ,609px 1704px #FFF ,1776px 1390px #FFF ,1865px 1975px #FFF ,1814px 1302px #FFF ,1438px 1918px #FFF ,1026px 464px #FFF ,521px 669px #FFF ,879px 1437px #FFF ,1409px 1933px #FFF ,907px 1611px #FFF ,1129px 1649px #FFF ,1231px 1814px #FFF ,39px 1827px #FFF ,304px 394px #FFF ,1118px 846px #FFF ,1001px 1258px #FFF ,1381px 1929px #FFF ,1664px 1872px #FFF ,462px 1162px #FFF ,1986px 880px #FFF ,1614px 793px #FFF ,1795px 931px #FFF ,1032px 782px #FFF ,1054px 869px #FFF ,214px 540px #FFF ,964px 382px #FFF ,1389px 537px #FFF ,1493px 1323px #FFF ,1855px 442px #FFF ,265px 874px #FFF ,299px 1567px #FFF ,533px 37px #FFF ,470px 1919px #FFF ,1123px 201px #FFF ,822px 1039px #FFF ,306px 481px #FFF ,1383px 709px #FFF ,1286px 1884px #FFF ,1773px 770px #FFF ,1186px 1127px #FFF ,1375px 787px #FFF ,388px 945px #FFF ,1038px 689px #FFF ,1604px 178px #FFF ,811px 222px #FFF ,857px 23px #FFF ,1510px 1031px #FFF ,187px 1134px #FFF ,1568px 758px #FFF ,1104px 1812px #FFF ,1718px 817px #FFF ,76px 561px #FFF ,862px 474px #FFF ,815px 381px #FFF ,793px 1589px #FFF ,1826px 904px #FFF ,842px 1898px #FFF ,844px 872px #FFF ,1198px 507px #FFF ,1673px 1404px #FFF ,1466px 818px #FFF ,842px 333px #FFF ,1975px 1896px #FFF ,716px 1018px #FFF ,1812px 1621px #FFF ,373px 275px #FFF ,1365px 1542px #FFF ,1760px 1999px #FFF ,1516px 1907px #FFF ,1794px 457px #FFF ,332px 1871px #FFF ,440px 110px #FFF ,1908px 1450px #FFF ,311px 268px #FFF ,1592px 1505px #FFF ,1935px 997px #FFF ,1870px 1156px #FFF;animation:animStar 150s linear infinite}#stars3:after{content:" ";position:absolute;top:2000px;width:3px;height:3px;background:transparent;box-shadow:792px 1163px #FFF ,519px 644px #FFF ,1341px 669px #FFF ,965px 1636px #FFF ,442px 1471px #FFF ,614px 1891px #FFF ,972px 253px #FFF ,1600px 1190px #FFF ,775px 328px #FFF ,293px 397px #FFF ,840px 1674px #FFF ,1581px 734px #FFF ,1995px 440px #FFF ,1525px 533px #FFF ,148px 1744px #FFF ,1779px 44px #FFF ,363px 1132px #FFF ,476px 1716px #FFF ,1716px 188px #FFF ,175px 1024px #FFF ,1127px 746px #FFF ,1328px 1567px #FFF ,1488px 658px #FFF ,609px 1704px #FFF ,1776px 1390px #FFF ,1865px 1975px #FFF ,1814px 1302px #FFF ,1438px 1918px #FFF ,1026px 464px #FFF ,521px 669px #FFF ,879px 1437px #FFF ,1409px 1933px #FFF ,907px 1611px #FFF ,1129px 1649px #FFF ,1231px 1814px #FFF ,39px 1827px #FFF ,304px 394px #FFF ,1118px 846px #FFF ,1001px 1258px #FFF ,1381px 1929px #FFF ,1664px 1872px #FFF ,462px 1162px #FFF ,1986px 880px #FFF ,1614px 793px #FFF ,1795px 931px #FFF ,1032px 782px #FFF ,1054px 869px #FFF ,214px 540px #FFF ,964px 382px #FFF ,1389px 537px #FFF ,1493px 1323px #FFF ,1855px 442px #FFF ,265px 874px #FFF ,299px 1567px #FFF ,533px 37px #FFF ,470px 1919px #FFF ,1123px 201px #FFF ,822px 1039px #FFF ,306px 481px #FFF ,1383px 709px #FFF ,1286px 1884px #FFF ,1773px 770px #FFF ,1186px 1127px #FFF ,1375px 787px #FFF ,388px 945px #FFF ,1038px 689px #FFF ,1604px 178px #FFF ,811px 222px #FFF ,857px 23px #FFF ,1510px 1031px #FFF ,187px 1134px #FFF ,1568px 758px #FFF ,1104px 1812px #FFF ,1718px 817px #FFF ,76px 561px #FFF ,862px 474px #FFF ,815px 381px #FFF ,793px 1589px #FFF ,1826px 904px #FFF ,842px 1898px #FFF ,844px 872px #FFF ,1198px 507px #FFF ,1673px 1404px #FFF ,1466px 818px #FFF ,842px 333px #FFF ,1975px 1896px #FFF ,716px 1018px #FFF ,1812px 1621px #FFF ,373px 275px #FFF ,1365px 1542px #FFF ,1760px 1999px #FFF ,1516px 1907px #FFF ,1794px 457px #FFF ,332px 1871px #FFF ,440px 110px #FFF ,1908px 1450px #FFF ,311px 268px #FFF ,1592px 1505px #FFF ,1935px 997px #FFF ,1870px 1156px #FFF}





.w100 {
	width:100%;
}
.btn-info-border {
	color:#45aaf2;
	border:1px solid #45aaf2 !important;
}
.btn-info-border:hover {
	color:#1594ef;
	border-color:#1594ef !important;
}

.ptb80 {
	padding-top:80px;
	padding-bottom:80px;
}

.ptb30 {
	padding-top:30px;
	padding-bottom:30px;
}

.bgw {
	background:#fff;
}
.main-block {
	text-align:center;
	padding-top:200px;
	padding-bottom:200px;
	color:#fff;
}
.main-block h1 {
	font-size:52px;
	text-transform:uppercase;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 10px;
}
.main-block h1 span {
	font-family: 'PT Sans', sans-serif;
	background: -webkit-linear-gradient(white, #4a5057);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.main-block p {
	font-family: 'PT Sans', sans-serif;
	font-size:18px;
}
.pt20 {
	padding-top:20px;
}
.pt40 {
	padding-top:40px;
}

.dynamic_content {
	min-height: 250px;
	display:block;
	border:1px solid #ccc;
    padding: 30px;
	background:rgba(255,255,255,0.9);
	color:#222;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.08);
    box-shadow: 0 0 40px 0 rgba(0,0,0,.08);
}
.dynamic_content_btns {
	padding:0;
	list-style:none;	
}
.dynamic_content_btns li {
	background:none;
	display:block;
	cursor:pointer;
	border:1px solid transparent;
	padding: 15px;
	transition:0.4s all;
}
.dynamic_content_btns li a {
	color:#fff;
	text-decoration:none;	
}
.dynamic_content_btns li.active a {
	color:#222;
}
.dynamic_content_btns li.active a:hover {
	text-decoration:none;	
}
.dynamic_content_btns li.active {
	background:#fff;
	color:#222;
	display:block;
	border:1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.08);
    box-shadow: 0 0 40px 0 rgba(0,0,0,.08);
	transition:0.4s all;
}

.fl-right {
	float:right;
}
.text-right {
	text-align:right;
}

.mw100 {
	max-width:100px;
}
.w100 {
	width:100%;
}
#carousel-controls .carousel-item {
	min-height:150px;
}

.control-slider {
    position: absolute;
    right: 30px;
}
.control-slider a {
	color:#222;
	text-decoration:none;
}

.carousel-control-prev, .carousel-control-next {
	color:#222;
}
.feat-main {
	text-align:center;
}
.feat-main h4 {
    font-size: 32px;
}

.feat-blocks {
	margin-top:30px;
}
.feat-blocks .icon {
    padding-bottom: 10px;
	opacity:0.5;
	transition:0.5s all;
}

.feat-blocks:hover .icon {
	opacity:1;
	transition:0.5s all;
}
.feat-blocks .icon i {
	font-size: 50px;
    color: #fff;
	text-shadow: 0 0 25px rgba(255,255,255,1);
	transition:1s all;
}

.feat-blocks .icon i:after {
	content:'';
	width:50px;
	height:50px;
	position:absolute;
	background:#fff;
	margin:0 auto;
	left:0;
	border-radius:50%;
	right:0;
	opacity:0;
	transition:0.5s all;
	transform:scale(0,0);
}
.feat-blocks:hover .icon i:after {
	opacity:0;
	transition:0.2s all;
	transform:scale(0,0);
	animation:blower 0.5s ease-in-out;
}

.feat-main .card {
	color:#222;
}

@keyframes blower {
	0% {
	opacity:0;
	transition:0.5s all;
	transform:scale(0,0);
	}	
	50% {
	opacity:0.7;
	transition:0.5s all;
	transform:scale(0.5,0.5);
	}
	100% {
	opacity:0;
	transition:0.5s all;
	transform:scale(5,5);
	}	
}




/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }





.feat-blocks .title {
	font-size: 28px;
    padding-bottom: 20px;
}
.feat-blocks .description {
	min-height:100px;
	padding-left:20px;
	padding-right:20px;
}

.curp {
	cursor:pointer;
}
.curp.text-muted {
	cursor:default;
}

textarea {
	resize:none !important;
}

.gold {
	color: #f3ff31;
	animation-duration: 4s;
    text-shadow: 0 0 10px rgba(229, 255, 0, 0.8);
	animation-name: golder;
	animation-iteration-count: infinite;
    animation-fill-mode: none;
	transition:1s all;
}

@keyframes golder {
0% {color: #f3ff31;}
50% {color:#6d7317;}
100% {color: #f3ff31;}
}


.allb0, .allb0:active, .allb0:hover {
    background: transparent;
    border: none;
    box-shadow: none;	
}

.custom-range:focus {
  background:transparent !important;
}

.msg-block a {
	color: #444;
}


.loading {
	display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 9999;	
}
.loading .loading-cnt {
    position: absolute;
    right: 60px;
    bottom: 60px;	
}
.loading .loading-text {
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 18px;
    color: #6293d6;	
}
.loading .loader {
	display: inline-block;
}

.page-content {
	min-height: 500px;
}

.p10 {
	padding:10px !important;
}

button.icon {
	border:none;
	background:none;
}

.sqblock {
	margin-right:20px;
	display:inline-block;
}

.mt10 {
	margin-top:10px;
}
.mt40 {
	margin-top:40px;
}

.pt10 {
	padding-top:10px;
}

.p10 {
	padding:10px;
}
.p20 {
	padding:20px;
}
.p20i {
	padding:20px !important;
}
.fs12 {
	font-size:12px;
}
.fs13 {
	font-size:13px;
}
.fs14 {
	font-size:14px;
}
.fs16 {
	font-size:16px;
}
.fs18 {
	font-size:18px;
}
.fs32 {
	font-size:32px;
}

.mb40 {
	margin-bottom:40px;
}

.curhelp:hover {
	cursor: help;
	-webkit-user-select: none;
} 


.user-info {
	font-size: 14px;
}

.db {
	display:block;
}

.m0 {
	margin:0 !important;
}


.animated.delay-0_5s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.animated.delay-1_5s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.animated.delay-2_5s {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.animated.delay-3_5s {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
.animated.delay-4_5s {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}
.animated.delay-5_5s {
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
}
.text-black {
	color:#333 !important;
}
.text-white {
	color:#fff !important;
}

.full-right {
	display: inline-block;
    float: right;
	text-align:right;
}

.fs12 {
	font-size:12px !important;
}
.fs14 {
	font-size:14px !important;
}

.bgw {
	background:#fff;
}
.mt0 {
    margin-top: 0 !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.rockets {
	position: relative;
	transition:0.2s;
	color:#333;
}
.rockets:before {
	z-index:100;
}
.rockets:after {
	content: '';
	z-index:90;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    background: #f30404;
    bottom: -1px;
    opacity: 0.3;
    z-index: 1;
    box-shadow: 0 0 10px rgba(255,255,255,1);
    left: -1.1px;
    transform: rotate(45deg) scale(0.8,1.1);
    animation: rocket 1.4s infinite;
}

@keyframes rocket {
	0% {transform: rotate(45deg) scale(0.8,1.1);color: #ffe1e1;}
	10% {transform: rotate(45deg) scale(0.7,1.3);color: #edbaba;}
	20% {transform: rotate(45deg) scale(0.8,1.1);color: #ffe1e1;}
	30% {transform: rotate(45deg) scale(0.6,1.5);color: #d09b9b;}
	40% {transform: rotate(45deg) scale(0.7,1.3);color: #edbaba;}
	50% {transform: rotate(45deg) scale(0.8,1.1);color: #ffe1e1;}
	60% {transform: rotate(45deg) scale(0.6,1.5);color: #d09b9b;}
	70% {transform: rotate(45deg) scale(0.7,1.3);color: #edbaba;}
	80% {transform: rotate(45deg) scale(0.8,1.1);color: #ffe1e1;}
	90% {transform: rotate(45deg) scale(0.6,1.5);color: #d09b9b;}	
	100% {transform: rotate(45deg) scale(0.7,1.2);color: #edbaba;}
}

@keyframes rocketlight {
	0% {color: #ffe1e1;}
	20% {color: #ffe6e6;}
	40% {color: #ffe9e9;}
	60% {color: #ffe7e7;}
	80% {color: #ffe2e2;}
	100% {color: #ffe2e2;}
}


@-webkit-keyframes blow {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 0.5);
    transform: scale3d(1, 1, 0.5); } 
}


.btn-default {
	border:1px solid #ccc !important;
}


.alt-rocket {
	color:#fff;
}
.alt-rocket:after {
    content: '';
	opacity:0.7;
	background: #aae8ff;
}


.audio {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;
    text-decoration: none !important;
    border: 1px solid #ccc;
}
.audio a {
	text-decoration:none;
}
.audio i {
	margin-left: 20px;
	padding: 6.5px;
}

.fullscreen-card {
	position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 1111 !important;
}

.db {
	display:block !important;
}

.fullscreen-card .card-options-fullscreen i:before {
content: "\e992" !important;
}

.video-vk a {
    text-align: center;
    position: relative;	
}

.video-vk a i {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 30px rgba(255,255,255,1);	
}


.cryst {
	background:#111;
	border:3px solid #fff;
	width:50px;
	height:100px;
	position:relative;
}
.cryst:before {
	content:'';
	animation-name: bloom;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	bottom:0;
	position:absolute;
	width:100%;
	height:2px;
	background:#fefefe;
}

@keyframes bloom {
	0% {
		bottom:0;
	}
	100% {
		bottom:200px;
	}
}


.comment_dbb {
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}

.list-view .bg-vk h4 a, .list-view .bg-youtube h4 a, .list-view .bg-instagram h4 a {
	color:#fff;
	font-size:16px;
}

.p3 {
	padding:3px;
}
.p5 {
	padding:5px;
}
.pb0 {
	padding-bottom:0 !important;
}

.mb20 {
	margin-bottom:20px;
}

.text-primary-alt {
    color: #c4dcff !important;
}

.table td {
    max-width: 100px;
    overflow-x: auto;
}



.card-status-right {
    left: auto !important;
    bottom: 0;
    height: auto !important;
    width: 3px;
    border-radius: 3px 0 0 3px !important;
}

.btn-blank {
	border:none !important;
	background: none !important;
    box-shadow: none !important;
	outline: none !important;
}


/* PEACE */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 2040;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.pace-inactive {
  display: none;
}

#user_media .card .card-header {
	min-height:70px;
}

.nosel {
	user-select:none;
}

.wait {
	cursor:wait !important;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.visible-off h4, .visible-off p, .visible-off div {
	opacity: 0 !important;
}


.color-black, .color-black a {
	color:#222 !important;
}


.btn-info-border:active, .btn-info-border:focus {
    color: #45aaf2;
}

.p5 {
	padding:5px !important;
}

.p15 {
	padding:15px !important;
}

.dib {
	display:inline-block !important;
}

@media (max-width:360px) {
	.main-block h1 {
		font-size:36px;
	}
}

@media (max-width:768px) {
	h1 {
		font-size:30px !important;
	}
	
	.card-footer .btn {
		font-size:12px;
	}
}